@{
    ViewData["Title"] = "Контакты";
}
<h1>@ViewData["Title"]</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">Телефон</dt>
        <dd class="col-sm-10">+7(912)476-90-99(копировать в буфер)</dd>
        <dt class="col-sm-2">Mail</dt>
        <dd class="col-sm-10"><a>russki-misha@mail.ru(добавить возможность скопировать в буфер)</a></dd>
        <dt class="col-sm-2">GMail</dt>
        <dd class="col-sm-10"><a>yumpa404@gmail.com(добавить возможность скопировать в буфер)</a></dd>
        <dt class="col-sm-2">Github</dt>
        <dd class="col-sm-10"><a href="https://github.com/YumpA">YumpA</a></dd>
        <dt class="col-sm-2">Telegram</dt>
        <dd class="col-sm-10"></dd>
        <dt class="col-sm-2">VK</dt>
        <dd class="col-sm-10"><a href="https://vk.com/yumpa_404">Саша Митин</a></dd>
    </dl>
</div>

